# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# FAISS vectorstore (optional, if you don't want to push large DB)
vectorstore/

# Any other local files/folders